* {
  margin: 0;
  padding: 0;
  font-family: "Alegreya";
}

:root {
  --navbar-font-color: purple;
  --webpage-max-width: 1200px;
  --webpage--padding-left-right: 2rem;
}

.search-bar-wrapper {
  background: var(--navbar-font-color);
  box-shadow: 0 1px 3px -2px black;
}

.search-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: auto;
  gap: 2rem;
  height: 5rem;
  max-width: var(--webpage-max-width);
}

.search-bar__pet-type {
  padding-left: var(--webpage--padding-left-right);
  display: flex;
  align-items: center;
  gap: 1rem;
}

.search-bar__pet-type--dog-icon {
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

.search-bar__pet-type select {
  border: none;
  background: var(--navbar-font-color);
  color: white;
  font-size: 1.2rem;
  font-family: inherit;
  cursor: pointer;
}

.search-bar__distance select {
  border: none;
  background: var(--navbar-font-color);
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}
